.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  height: 930px !important;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  margin-bottom: 8px !important;
  height: 33.333% !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
